/*Minoka*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

:root {
    --main-color: #f5ab0c;
    --text-color:#fff ;
    --bg-color: #111619;
    --text-colour-dark: #000000 ;
}

section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}

body{
    background-color: var(--bg-color);
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;

}

header{
    display: block;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);

}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;
    
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

#sign-in{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

#sign-in:hover{
    color: var(--main-color);
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--text-color);
    box-shadow: 4px 4px 20px rgba(129, 207, 209, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
    transition: 0.4s;
}

.search-box:hover{
    color: var(--main-color);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.search-and-sign{
    display: flex;
    column-gap: 2rem;
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/background_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left ;

}


.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 2.4rem;
    color: var(--text-color);
}

.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
    color: var(--text-color);
}

.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover{
    background: #f7e202;
}

.heading{
    text-align: center;
    color: var(--text-color);
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.983rem;
    font-weight: 500;
    color: var(--text-color);
}

.service-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.service-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 10px 10px 5px var(--text-colour-dark);
  
}

.service-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.service-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.service-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--text-color);
    padding: 8px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-container .box:hover h2{
    background: var(--main-color);
}

.service-container .box h2:hover{
    background: #f7e202;
    cursor: pointer;
}

header.sticky{
    background: var(--bg-color);
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.about-img{
    flex: 1 1 21rem;
    box-shadow: 10px 10px 5px var(--text-colour-dark);
}

.about-text{
    flex: 1 1 21rem;
}

.about-text span{

    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
    color: var(--text-color);
}

.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
    color: var(--text-color);
}

/*about us page */

.about_home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(img/background_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left ;

}

.about_us_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
    
}

.about_us_heading h1{
    font-size: 50px;
}

.about_Us_Content{
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.about_Us_Content h2{
    color: var(--main-color);
}

.about_Us_Content p{
    color: var(--text-color);
    text-align: center;
}

.about_us_img_footer{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.about_us_img_footer .ft i{
    
    font-size: 1.5rem;
    align-content: center;
}
.about_us_img_footer .ft span{
    font-size: 1rem;
    font-weight: 800;
}

.about_us_img_footer div{
    margin-top: 250px;
    padding: 30px;
    
}

table{
    color: var(--text-color);
}
table th{
    border: 1px solid var(--text-color);
    padding: 4px;
    width: 300px;
}

td{
    border: 1px solid var(--text-color);
    padding: 4px;
    width: 300px;
    text-align: center;
}

.caption-div{
    margin-top: 1rem;
    color: var(--text-color);
}

