body{
    background-color: var(--bg-color);

    font-family: "poppins",sans-serif;


}
.first{
 
    color: var(--text-color);
    font-family: "poppins",sans-serif;
    text-align: center;
    height: 30%;
    font-size:50px;
    font-weight: 700;
    background: url("back.jpg")no-repeat;
    
}
.second{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "poppins",sans-serif;
    text-align: center;
    height: 10%;
    font-size:20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
:root{
    --main-color:#f5ab0c;
    --text-color:#fff ;
    --bg-color:#111619;
    --text-colour-dark:#000000;
}
span{
    color: #f5ab0c;
}
.collections{
  display: flex;
  background-color:var(--bg-color);

}

.box{
    border: 2px solid var(--bg-color);
    flex-basis: 30%;
    color: var(--text-color);
    font-family: "poppins",sans-serif;
    text-align: center;
    padding: 10px;
}
.box:hover{
        transform: scale(1.8);
        transition: 0.5s;
    }
    
    

img{
  
    width: 400px;
    height: 400x;
    padding: 30px;

}
h2{
    color: var(--main-color);
}
button{
    background-color: #f5ab0c;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9{
    display: none;
    color: var(--text-color);
    font-family: "poppins",sans-serif;
}
.section1{
    background: url("back.jpg")no-repeat;

}