
:root{
    --main-color:#f5ab0c;
    --text-color:#fff ;
    --bg-color:#ffffff;
    --text-colour-dark:#000000;
  }

  
body{
    background-color:var(--text-colour-dark) ;
    font-family: "poppins",sans-serif;
}


.section1{
    background: url("car3.jpg")no-repeat;
    height: 750px;
    width: 100%;
    background-size: cover;
    opacity: .9;
}
#id1{
    

    
    color:var(--main-color);
    font-size: 50px;
    font-weight: 900;
 }
 
.section2{
    height: 300px;
    width: 100%;
    background-color:black;
    border-radius: 30px;
    
}
dl{
    text-align: center;
    padding: 30px;
    color: var(--text-color);
    font-size: 15px;
    font-weight:700;
}
dt{
    text-align: center;
    padding: 5px;
    color: var(--main-color);
    font-size: 20px;
    font-weight:700;
    
}
.section3{
    display: flex;
    height: 500px;
}
.left{
    flex-basis: 50%;
    background-color: #000000;
    text-align: center;
    color: #fff;
    border: 1px solid orange;
    border-radius: 20px;
    
    
}
.middle{
    flex-basis:50% ;
    background-color: #000000;
    text-align: center;
    color: var(--text-color);
    border: 1px solid orange;
    border-radius: 30px;

}
.right{
    flex-basis:50% ;
    background-color: #000000;
    text-align: center;
    color: var(--text-color);
    border: 1px solid orange;
    border-radius: 30px;
    
}
input[type=text],input[type=number],input[type=tel], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f5ab0c;
  }
  span{
    color: var(--main-color);
    font-weight: 900;
  }
  input[type=button]{
    background-color: var(--main-color);
    font-weight: 700;
    

  }